// Place all the styles related to the message controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#preview{
  width: 384px;
  margin: 0 auto;
  padding: 10px 0 0 0;
  font-family:'Arial';
  font-size: 20px;
  text-align: center;
  position: relative;

  h1, h2, img, div, p {
    margin: 0;
    padding: 0;
  }

  h1 { font-family: 'Merienda One'; font-size: 45px; margin-bottom: 10px; color: #FFFFFF;}
  h2 { font-family:'Arial'; font-size: 45px; margin-bottom: 25px; }
  img { width: 384px; }
  .top-section { background-color: #000000; color: #FFFFFF; padding: 25px 20px; }
  .main-text pre { background-color: #FFFFFF; color: #000000; border-radius: 3px; padding: 20px 10px; text-align: left }

  .editable-input{
    color: #000000
  }
  .editable-area{
    color: #000000;
    textarea{
      min-height: 100px
    }
  }

  .submit-button {
    background: #333;
    color: white;
    border-radius: 3px;
    width: 384px;
    padding: 15px 0px;
    font-size: 18px;
    border: 0;
    margin-top: 10px;

    &:hover{
      background-color: #000;
    }
  }

  .image-container {
    position: relative;
  }

  .image-container:hover span.zoom-icon{
    visibility:visible;
  }

  span.zoom-icon{
    visibility:hidden;
    position:absolute;
    left:0%;
    top:0%;
    height: 100%;
    width: 100%;
    background: url('/images/refresh_icon.png') no-repeat 173px 162px rgba(0, 0, 0, 0.2);
  }

  .refresh-link {
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
  }
}
